body {
    font-family: 'Gill Sans';
    color: #00263A;
}
p {
    font-size: 1.2rem;
}
h2.subtitle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 4px;
}
h3 {
    font-size: 2rem;
    color: #00447D;
}
a.readmore {
    display: inline-block;
    position: relative;
    color: #00447D;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem 1.4rem .1rem 0;
}
a.readmore svg {
    position: absolute;
    fill: #00447D;
    right: 0;
    top: 50%;
    margin-top: -.4rem;
    width: 16px;
    height: 16px;
}
.header {
    background: #FFC600;
}
.header {
    color: #fff;
}
.header a, .navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #00263A;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 38, 58, 0.7);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #00263A;
    font-style: normal;
}
.header .nav-item {
    font-style: italic;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header .icon-social:hover {
    opacity: .8;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.slick-prev:hover, .slick-next:hover {
    opacity: .85;
}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}

.slide-home .slick-prev, .slide-home .slick-next {
    width: 20px;
    height: 60px;
}
.slide-home .slick-prev {
    left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60.759 104.471'%3E%3Cpath d='M-3186.664-1354.915a9.85,9.85,0,0,0,0-13.526l-28.081-29.719a7.97,7.97,0,0,1-.808-10.082,12.337,12.337,0,0,1,19-1.279l35.045,37.091a15.654,15.654,0,0,1,0,21.5l-35.045,37.091a12.338,12.338,0,0,1-19-1.277,7.973,7.973,0,0,1,.808-10.084Z' transform='translate(-3156.728 -1309.443) rotate(180)' fill='rgba(255, 255, 255, 0.8)' /%3E%3C/svg%3E");
}
.slide-home .slick-next {
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60.759 104.471'%3E%3Cpath d='M-3186.664-1354.915a9.85,9.85,0,0,0,0-13.526l-28.081-29.719a7.97,7.97,0,0,1-.808-10.082,12.337,12.337,0,0,1,19-1.279l35.045,37.091a15.654,15.654,0,0,1,0,21.5l-35.045,37.091a12.338,12.338,0,0,1-19-1.277,7.973,7.973,0,0,1,.808-10.084Z' transform='translate(3217.487 1413.914)' fill='rgba(255, 255, 255, 0.8)' /%3E%3C/svg%3E");
}
.slide-home .slick-slide {
    position: relative;
    height: 420px;
    background-size: cover;
    background-position: center;
}
.slide-home .content {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    text-align: center;
}
.slide-home .content img {
    max-width: 100%;
    height: auto;
}
.slide-home .content .button {
    display: inline-block;
    background: #003868;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 11px 20px 2px 20px;
    letter-spacing: 4px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.slide-home .content .button:hover {
    background: rgba(0, 56, 104, 0.85);
}

.has-border-white {
    position: relative;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.has-border-white:before, .has-border-white:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-repeat: repeat-x;
    background-size: cover;
}
.has-border-white:before {
    top: -59px;
    background-image: url('../img/texture-top.svg');
    background-position: left bottom;
}
.has-border-white:after {
    bottom: -59px;
    background-image: url('../img/texture-bottom.svg');
    background-position: left top;
}

.bg-yellow {
    background: #FFC600;
    color: #00263A;
    padding-top: 80px;
    padding-bottom: 80px;
}

.has-border-blue {
    position: relative;
    background: #00447D;
}
.has-border-blue:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    top: -69px;
    background-image: url('../img/texture-top-blue.svg');
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: cover;
}

.banner-blue {
    background: #147599;
    color: #fff;
    border-radius: 40px;
    padding: 2rem;
}
.banner-blue a {
    color: #fff;
}
.banner-blue a:hover {
    color: rgba(255, 255, 255, 0.7);
}
.banner-blue img {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.banner-blue p {
    font-size: 1rem;
    margin-bottom: 0;
}

.menu-accordion, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-accordion ul {
    padding-left: .7rem;
}
.menu-accordion >li >a {
    text-transform: uppercase;
}
.menu-accordion a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: .5rem .7rem .1rem .7rem;
    background: transparent;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.menu-accordion .has-children >a:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    right: .7rem;
    top: .8rem;
    background-size: cover;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMi40NTgiIGhlaWdodD0iMTMuNjU3IiB2aWV3Qm94PSIwIDAgMjIuNDU4IDEzLjY1NyI+PHBhdGggZD0iTS0zMjEwLjctMTQwMS4yNzZhMi4wNDMsMi4wNDMsMCwwLDAsMC0yLjhsLTUuODIzLTYuMTYzYTEuNjUzLDEuNjUzLDAsMCwxLS4xNjctMi4wOTEsMi41NTgsMi41NTgsMCwwLDEsMy45NDEtLjI2NWw3LjI2Nyw3LjY5MmEzLjI0NiwzLjI0NiwwLDAsMSwwLDQuNDU5bC03LjI2Nyw3LjY5MmEyLjU1OSwyLjU1OSwwLDAsMS0zLjk0MS0uMjY1LDEuNjU0LDEuNjU0LDAsMCwxLC4xNjctMi4wOTFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTM5MS40NDkgMzIxNy41NTcpIHJvdGF0ZSg5MCkiIGZpbGw9IiNmZmYiIHN0cm9rZT0icmdiYSgyNDcsMjQ3LDI0NywwKSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9zdmc+);
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.menu-accordion .has-children.opened >a:before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu-accordion .opened >a {
    background: #003868;
    border-radius: 5rem;
}
.menu-accordion .opened >a:hover {
    color: #fff;
}
.menu-accordion .has-children ul {
    display: none;
}
.menu-accordion .opened >ul {
    display: block;
}

input[type='search'] {
    width: 100%;
    background-image: url(../img/search-icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 11px 10px 9px 40px;
    line-height: 20px;
    border-radius: 20px;
    border: 0;
    margin-top: 1.5rem;
}
input[type='search']:focus {
    outline: none;
}

.news-slide {
    padding: 0 20px;
}
.news-slide h3 {
    color: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.news-slide .image, .news-slide .info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    margin-bottom: 1rem;
    width: 100%;
}
.news-slide .image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.news-slide .slick-prev, .news-slide .slick-next {
    width: 20px;
    height: 50px;
}
.news-slide .slick-prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60.759 104.471'%3E%3Cpath d='M-3186.664-1354.915a9.85,9.85,0,0,0,0-13.526l-28.081-29.719a7.97,7.97,0,0,1-.808-10.082,12.337,12.337,0,0,1,19-1.279l35.045,37.091a15.654,15.654,0,0,1,0,21.5l-35.045,37.091a12.338,12.338,0,0,1-19-1.277,7.973,7.973,0,0,1,.808-10.084Z' transform='translate(-3156.728 -1309.443) rotate(180)' fill='%23003868' /%3E%3C/svg%3E");
}
.news-slide .slick-next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60.759 104.471'%3E%3Cpath d='M-3186.664-1354.915a9.85,9.85,0,0,0,0-13.526l-28.081-29.719a7.97,7.97,0,0,1-.808-10.082,12.337,12.337,0,0,1,19-1.279l35.045,37.091a15.654,15.654,0,0,1,0,21.5l-35.045,37.091a12.338,12.338,0,0,1-19-1.277,7.973,7.973,0,0,1,.808-10.084Z' transform='translate(3217.487 1413.914)' fill='%23003868' /%3E%3C/svg%3E");
}

.news-slide a.readmore {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28.657 22.458' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' transform='translate(163.82 -2046.5)'%3E%3Cpath transform='translate(3053.7 3460.4)' d='M-3210.7-1401.276a2.043,2.043,0,0,0,0-2.8l-5.823-6.163a1.653,1.653,0,0,1-.167-2.091,2.558,2.558,0,0,1,3.941-.265l7.267,7.692a3.246,3.246,0,0,1,0,4.459l-7.267,7.692a2.559,2.559,0,0,1-3.941-.265,1.654,1.654,0,0,1,.167-2.091Z'/%3E%3Cpath transform='translate(3068.7 3460.4)' d='M-3210.7-1401.276a2.043,2.043,0,0,0,0-2.8l-5.823-6.163a1.653,1.653,0,0,1-.167-2.091,2.558,2.558,0,0,1,3.941-.265l7.267,7.692a3.246,3.246,0,0,1,0,4.459l-7.267,7.692a2.559,2.559,0,0,1-3.941-.265,1.654,1.654,0,0,1,.167-2.091Z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right 10px;
    background-color: #003769;
    padding: .5rem 60px .1rem 20px;
    border-radius: 40px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.news-slide a.readmore:hover {
    background-color: rgba(0, 55, 105, 0.85);
}

.footer {
    color: #fff;
    text-align: center;
}
.footer img {
    max-width: 100%;
    height: auto;
}
.footer h3 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.footer .logo {
    width: 100%;
    max-width: 300px;
}
.footer span {
    display: block;
    margin-top: 30px;
}
.footer .icon-social {
    margin-left: 10px;
}

::-webkit-input-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }
:focus::-webkit-input-placeholder { opacity: .5; }
:focus::-moz-placeholder { opacity: .5; }
:focus:-moz-placeholder { opacity: .5; }
:focus:-ms-input-placeholder { opacity: .5; }

.form input[type='text'],
.form input[type='tel'],
.form input[type='email'],
.form textarea {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 8px 20px 3px 20px;
    color: #00427f;
}
.form .ixtus {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-right: 20px;
}
.form .btn {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    border: 0;
    background: #FFBC00;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0 6px 0;
    letter-spacing: 2px;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 20px;
}
.form .btn:hover {
    background: #ffb100;
}

@media (min-width:992px){

    .nav-item.active a:after {
        content: '';
        border-bottom-style: solid;
        border-bottom-width: 2px;
        position: absolute;
        bottom: .3rem;
        height: 2px;
        left: .5rem;
        right: .5rem;
    }

    .slide-home .slick-prev, .slide-home .slick-next {
        width: 60px;
    }
    .slide-home .slick-prev {
        left: 20px;
    }
    .slide-home .slick-next {
        right: 20px;
    }

    .has-border-white:before {
        height: 80px;
        top: -79px;
    }
    .has-border-white:after {
        height: 80px;
        bottom: -79px;
    }

    .bg-yellow {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .has-border-blue:before {
        height: 100px;
        top: -99px;
    }

    .news-slide {
        padding: 0 70px;
    }
    .news-slide .image, .news-slide .info {
        width: 50%;
    }

    .news-slide .slick-prev, .news-slide .slick-next {
        width: 50px;
    }

    .footer .col-left {
        text-align: right;
        border-right: 2px solid #fff;
    }

    .footer .col-right {
        text-align: left;
    }

    .footer span {
        margin-top: 70px;
    }

}


<<<<<<< HEAD
.height-demo {
    height: 300px;
}
=======

@media (min-width: 576px) {

    .slide-home .slick-slide {
        height: 700px;
    }

    .slide-home .content {
        left: 10%;
        right: auto;
        text-align: right;
    }
    .slide-home .content .button {
        font-size: 1.5rem;
        padding: 11px 50px 2px 50px;
    }
}









>>>>>>> 6098fd3094b3cfc89874d66929cd4a9144b27b6f


@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: local('fonts/Gill Sans Regular'), url('../fonts/Gill Sans.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Gill Sans Italic'), url('../fonts/Gill Sans Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Gill Sans Light'), url('../fonts/Gill Sans Light.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Gill Sans Light Italic'), url('../fonts/Gill Sans Light Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Gill Sans Medium'), url('../fonts/Gill Sans Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Gill Sans Medium Italic'), url('../fonts/Gill Sans Medium Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Gill Sans Bold'), url('../fonts/Gill Sans Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Gill Sans Bold Italic'), url('../fonts/Gill Sans Bold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Gill Sans Heavy'), url('../fonts/Gill Sans Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 900;
    src: local('Gill Sans Heavy Italic'), url('../fonts/Gill Sans Heavy Italic.woff') format('woff');
}
