*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body, #app {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: #151b26;
}
#app {
    display: flex;
}
.panel {
    flex: 1;
    display: flex;
}
.panel.left {
    background: #f7f7f7;
    justify-content: flex-end;
}
.panel.right {
    background: #151b26;
    justify-content: flex-start;
    color: #fff;
}
.panel.left .content {
    max-width: 500px;
}
.content {
    align-self: center;
    margin: 0 10%;
    flex: 0 0 80%;
    max-width: 400px;
}
.logo {
    margin-bottom: 40px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}
form {
    text-align: left;
}
input {
    display: block;
    width: 100%;
    border: 1px solid #dadada;
    background: #fff;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}
input:hover, input:focus {
    outline: none;
    border-color: #c1c1c1;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 7px 14px;
    font-size: .9rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #1ebbf0;
    background: linear-gradient(135deg, #1bb0e2 30%, #35cc9b 100% );
    cursor: pointer;
    margin-top: 10px;
}
.btn span {
    position: relative;
}
.btn:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100% );
    opacity: 0;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.btn:hover:before {
    opacity: 1;
}
.btn:focus {
    outline: none;
}
