*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body, #app {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: #151b26;
}
#app {
    display: flex;
}
a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
input[type=text], textarea {
    display: block;
    width: 100%;
    border: 1px solid #dadada;
    background: #fff;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
input[type=checkbox] {
    margin-right: 5px;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    outline: none;
    border-color: #c1c1c1;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 300px;
    padding: 20px 30px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadada;
    border-radius: 5px;
    z-index: 10;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 7px 14px;
    font-size: .9rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #1ebbf0;
    background: linear-gradient(135deg, #1bb0e2 30%, #35cc9b 100% );
}
.btn span {
    position: relative;
}
.btn:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100% );
    opacity: 0;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.btn:hover:before {
    opacity: 1;
}
.btn:focus {
    outline: none;
}

#nav {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background: #151b26;
    color: #fff;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
#nav.collapsed {
    margin-left: -250px;
}

#nav .top {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

#nav .hide-nav {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
    background-image: url(../img/icon-menu-close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
#nav .hide-nav:hover {
    opacity: .5;
}
#nav .menu {
    flex: 1;
    overflow: auto;
    padding-top: 20px;
}
#nav .menu .item a {
    display: block;
    padding: 5px 10px 5px 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9rem;
}
#nav .menu .item a:after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #1ebbf0;
    background: linear-gradient(135deg, #1bb0e2 30%, #35cc9b 100% );
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
#nav .menu .item a:hover:after, #nav .menu .item.active a:after {
    width: 40px;
}
#nav .bottom {
    height: 100px;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    background: #f7f7f7;
}

.topbar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background: #fff;
    border-bottom: 1px solid #dadada;
}
.topbar .show-nav {
    display: block;
    width: 0;
    height: 25px;
    margin-right: 0;
    cursor: pointer;
    background-image: url(../img/icon-menu-open.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.topbar .show-nav.show {
    width: 25px;
    margin-right: 40px;
}
.topbar .show-nav:hover {
    opacity: .5;
}
.topbar .tabs {
    flex: 1;
}
.topbar .tabs a {
    display: inline-block;
    padding: 7px 10px 0 10px;
    font-weight: 500;
}
.topbar .tabs a:after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #1ebbf0;
    background: linear-gradient(135deg, #1bb0e2 30%, #35cc9b 100% );
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.topbar .tabs a:hover:after, .topbar .tabs a.active:after {
    width: 100%;
}

.topbar .user {
    flex: 0 0 auto;
}
.topbar .user .open {
    position: relative;
    display: block;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    background-color: #1ebbf0;
    background: linear-gradient(135deg, #1bb0e2 30%, #35cc9b 100% );
    cursor: pointer;
}
.topbar .user .open span {
    position: relative;
}
.topbar .user .open:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100% );
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.topbar .user .open:hover:before {
    opacity: 1;
}
.topbar .user .group {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
}
.topbar .user .name {
    font-size: 1.1rem;
    font-weight: 500;
}
.topbar .user .links a {
    display: block;
    padding: 5px 40px 5px 0;
    background-image: url(../img/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 5px;
}
.topbar .user .links a:hover {
    opacity: .5;
}
.topbar .user .btn {
    margin-top: 5px;
}
.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.maincolumn {
    flex: 1;
    min-width: 0;
    padding: 40px 40px 0 40px;
}

.maincolumn .box {
    display: block;
    margin: auto;
    max-width: 1000px;
    background: #fff;
    border: 1px solid #dadada;
    padding: 20px;
}

.sidebar {
    flex: 0 0 auto;
    width: 350px;
    padding:40px 40px 0 0;
}
.widget {
    display: block;
    background: #fff;
    border: 1px solid #dadada;
    margin-bottom: 20px;
}
.widget .title {
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    padding: 15px 20px;
}
.widget .title:hover {
    opacity: .6;
}
.widget .title:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon-arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.widget.active .title:after {
    transform: rotate(-180deg);
}
.widget .content {
    display: none;
    padding: 15px 20px 20px 20px;
}
.widget.active .content {
    display: block;
}

.sidebar >div:last-child {
    margin-bottom: 0;
}
